
.left{
	position:fixed;
	margin-top: 60px;
	width: 302.500px;
	float: left;
}
.mid{
	margin-top: 60px;
	margin-left: 330px;
    width: 679.984px;
    padding-right: 32px;
    padding-left: 32px;
    float: left;
}
.right{
	margin-left: 1040px;
	margin-top: 60px;
	width: 302.500px;
	float: right;
	position:fixed;


}